<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheWebsiteGame</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheWebsiteGame.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheWebsiteGame</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TaskOne">Privacy</a>
                        </li>
                        @if (TaskOneViewModel.TaskCompleted)
                        {
                             <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="SecondHome" asp-action="TaskTwo">????</a>
                            </li>
                        }
                        @if (TaskTwoViewModel.TaskCompleted)
                        {
                             <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="ThirdHome" asp-action="TaskThree">Task Three</a>
                            </li>
                        }
                        @if (TaskThreeViewModel.TaskCompleted)
                        {
                              <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="FourthHome" asp-action="TaskFour">Do not continue</a>
                            </li>
                        }
                        @if (TaskFourViewModel.TaskCompleted)
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="FifthHome" asp-action="TaskFive">You have been warned</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - TheWebsiteGame 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
